<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}List the items{% endblock head_title %}</title>
    <style>
        {% block style %}
        {% endblock style %}
    </style>
</head>

<body>

{% if messages%}
<div class="messages">

    <ul class="message">
        {% for m in messages %}
        <li {% if m.tags %} class="{{m.tags}}" {% endif %}>{{ m }}</li>
        {% endfor %}
    </ul>

</div>
{% endif %}

<div class="container">
    {% block content %}
    <H2>{{title}} is working</H2>
    {% for obj in object_list %}
    {% url "posts:detail" id=obj.id %}
    <a href='{{obj.get_absolute_url}}'>{{obj.title}}</a><br/>
    <!--<a href='{% url "posts:detail" id=obj.id %}'>{{obj.title}}</a><br/>-->
    {{obj.content}}<br/>
    {{obj.timestamp}}<br/><br/><br/>
    {% endfor %}

    {% endblock content %}
</div>
</body>
</html>